body{
    display:flex;
    flex-direction: column;
}

img {
height: 100px;
width: 100px;

}
h1{ 
    font-size: 48px;

}

.header{
display: flex;
background: #1f2937;
color: white;
}

.products{
display: flex;
justify-content: center;
align-self: center;

}


.footer {
display: flex;
background: #1f2937;
color: white;
justify-content: center;
align-items: center;
}