body{
    margin: 0;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
display: flex;
background: #1f2937;
color: white;
flex-wrap: wrap;
align-items: center;
gap: 16px;
padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 8px;
    display: flex;
    gap: 8px;
  }
  
  li {
    list-style-type: none;
    display: flex;
  margin: 0px;
  padding: 0px;
    gap: 16px;
  }

.title {
font-size: 48px;
font-weight: extra-bold;
color: #f9faf8;
}

.right { 
  
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.description {
    display: flex;
    background: #1f2937;
padding: 20px;
}



img {
    height: 100px;
    width: 100px;
    }
    
    .item img{
    border: solid #2882f6;
    border-radius: 10px;
    }

    .product-title{
        display: flex;
        justify-content: center;
margin-top: 30px;
font-size: 36px;

    }

.products{
    display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
height: 140px;
  padding: 16px;
gap: 52px;
margin: 40px;
}

.item {
    display: flex;
    width: 200px;
    align-items: center;
    flex-direction: column ;

}

.Sign-up{
    display: flex;
  align-items: center;
    background: #2882f6;
    width: 480px;
    border-radius: 5px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 30px 60px;
  gap: 16px;
  margin: 60px 70px;
  }



  .quote-block{
display: flex;
flex-direction: column;

align-items: center;
background-color:#e5e7eb ;
padding: 80px;
  }

  .quote{
    display: flex;
color: #1f2937;
width: 550px;
font-size: 36px;
  }

  .quoter {
display: flex;
justify-content: flex-end;

  }
  
.footer {
display: flex;
height: 80px;
background: #1f2937;
color: white;
justify-content: center;
align-items: center;
}